<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Správca - Správa používateľov</title>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header class="header">
        <div class="header-content">
            <h1>Správca</h1>

            <button hx-post="/logout" hx-target="body" hx-swap="outerHTML" id="logout-button">
                Logout
            </button>
        </div>
    </header>

    <main class="container">
        <section id="user-management" class="panel table-wrapper">
            <h2>Pridaj používateľa</h2>
            <form id="userForm" hx-post="/add-user" hx-trigger="submit" hx-target="#usersTable tbody"
                hx-swap="outerHTML">
                <div class="form-group">
                    <label for="name">Meno a priezvisko:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="login">Login:</label>
                    <input type="text" id="login" name="login" required>
                </div>
                <div class="form-group">
                    <label for="password">Heslo:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="role">Pozícia:</label>
                    <select id="role" name="role" onchange="toggleWorksiteField()" required>
                        <option value="salesman">Obchoďák</option>
                        <option value="admin">AD pracovník</option>
                        <option value="worker">Výroba</option>
                    </select>
                </div>
                <div id="worksiteDiv" class="form-group hidden">
                    <label for="worksite">Pracovisko:</label>
                    <select id="worksite" name="worksite">
                        <option value="sypke">Sypké</option>
                        <option value="pozivatiny">Poživatiny</option>
                        <option value="kozmetika">Kozmetika</option>
                        <option value="sklad">Sklad</option>
                    </select>
                </div>
                <button type="submit" class="button">Pridať používateľa</button>
            </form>
            <h2>Pouzivatelia</h2>
            <table id="usersTable">
                <thead>
                    <tr>
                        <th class="sortable">ID</th>
                        <th class="sortable">Name</th>
                        <th class="sortable">Login</th>
                        <th class="sortable">Password</th>
                        <th class="sortable">Role</th>
                        <th class="sortable">Worksite</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody hx-get="/fetch-all-users" hx-target="#usersTable tbody" hx-trigger="load" hx-swap="outerHTML">
                </tbody>
            </table>
        </section>

    </main>
    <script src="/static/js/manager_dashboard.js"></script>

</body>

</html>